// Navigation Styles here
.home>.nav-section>nav {
    .flex(row,space-evenly);
    >a {
        text-decoration: none;
        padding: 1rem;
        padding-bottom: 0;
        margin-bottom: 1rem;
        color: black;
        font-size: 1.5rem;
        &:hover {
            border-bottom: 1px solid black;
            border-radius: 100%;
        }
    }
}