// Navigation Styles here
.home>.nav-section>nav {
    .flex(row,space-evenly);
    >a {
        text-decoration: none;
        padding: 1rem;
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;
        color: black;
        font-size: 1.5rem;
        border-bottom: 1px solid hsla(0,0,0,0);
        border-radius: 10%;
        transition: border-radius 1s;
        &:hover {
            border-bottom: 1px solid teal;
            border-radius: 100%;
        }
    }
}